<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mystery Word</title>
	
	 <!-- Style sheets-->
    <link rel="stylesheet" href="css/styles.css">
	
	<!-- Scripts -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
	<script src="/js/script.js" defer></script>
	
</head>


<body>
	
    <header>
        <h1>Mystery Word</h1>
    </header>
	
	<!-- the Vue app starts here -->
	<div id='app' v-cloak>
		<section id="message" :class="messageStyle">{{ message }}</section>
		<section id="word" :class="wordStyle">{{ word }}</section>
		<section id="score">
			<ul>
				<li>
					<h2>Score</h2>
					<p class="reset-margin">- Player: {{ userScore }}</p>
					<p class="reset-margin">- Computer: {{ computerScore }}</p>
				</li>
				<li v-if="scoreHistory[round-2]">
					<h2>History</h2>
					<p class="reset-margin" v-if="scoreHistory[round-2]">- {{ scoreHistory[round-2] }} won round {{ round-1 }}</p>
					<p class="reset-margin" v-if="scoreHistory[round-3]">- {{ scoreHistory[round-3] }} won round {{ round-2 }}</p>
				</li>
			</ul>
		</section>
		<section v-if="restart" id="controls">
			<button @click="start(false)">Rematch</button>
			<button @click="reset">Start Over</button>	
		</section>
	</div>
    
</body>

</html>